### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Systemowe ###
.DS_Store

### Java ###
application.properties
DrGym/src/main/resources/application.properties
.env
.env.local
drgym-frontend/.env
drgym-frontend/.env.local

.idea/
target/
build/
*.jar
*.war
node_modules/
drgym-frontend/node_modules/
drgym-frontend/.next/